body{
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header nav{
    position: relative;
    padding:20px 40px 10px 40px;
}
header nav h2{
    margin: 0;
    padding-left: 40px;
}
header nav::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: gray;
    opacity: 0.5;
}
.angles{
    margin-right: 6px;
}
.angle{
    color: #0f0;
    font-size: 20px;
    font-weight: 400;
}
main{
    padding-top: 120px;
    /* margin-left: 40px; */
    padding-left: 40px;
    padding-right: 40px;
}
.Hero{
    padding: 80px 40px;
    text-align: left;
}
.Hero h1{
    font-size: 52px;
    /* font-weight: 700; */
    margin-bottom: 10px;
    color: #fff;
}
.Hero h3{
    font-size: 26px;
    /* font-weight: 500; */
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    color: lightgray;
}
.Hero h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 60px;
    height: 3px;
    background: rgb(11, 144, 11);
    border-radius: 3px;
}
.Hero p{
    max-width: 50%;
    font-size: 18px;
    color: lightgray;
    line-height: 1.6;
    margin-bottom: 12px;
}
.Hero button{
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 12px;
    margin-top: 15px;
}
.btn-primary{
    background: rgb(11, 144, 11);
    color: white;
    border: none;
}
.btn-primary:hover{
    background: #0a0;
}
.btn-secondary{
    background: transparent;
    border: 1px solid gray;
    color: gray;
}
.btn-secondary:hover{
    background: gray;
    color: white;
}
.projects{
    padding: 80px 40px;
}
.section-title{
    font-size: 52px;
    margin: 0;
}
.section-subtitle{
    font-size: 18px;
    color: lightgray;
    position: relative;
    display: block;
    padding-bottom: 16px;
    margin: 8px 0 40px 0;
}
.section-subtitle::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 16px;
    width: 60px;
    height: 3px;
    background: rgb(11, 144, 11);
    border-radius: 3px;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}
.project-card{
    background: #0e0e0e;
    border: 1px solid #222;
    border-radius: 12px;
    /* padding: 20px; */
    max-width:  100%;
    margin-top: 40px;
}
.project-card:hover{
    transform: translateY(-6px);
    border-color: black
}
.project-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 8px;
}
.content{
    padding: 20px;
}
.project-title{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}
.project-desc{
    font-size: 16px;
    color: lightgray;
    line-height: 1.6;
    margin-bottom: 10px;
}
.tech-stack span{
    display: inline-block;
    margin: 5px 6px 10px 0;
    padding: 5px 10px ;
    font-size: 14px;
    color: white;
    border: 1px solid #333;
    border-radius: 15px;
    font-weight: 400;
}
.project-links a{
    display: inline-block;
    margin-right: 10px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.project-links a i{
    font-size: 15px;
}
.tech{
    padding: 80px 40px;
}
.tech-grid-wrapper{
    margin: 0;
    padding: 0;
}
.tech-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}
.tech-container span{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 8px 16px 8px 0;
    border-radius: 6px;
    font-size: 25px;
    color: #fff;
    justify-content: flex-start;
}
.tech-container i{
    font-size: 25px;
}
.connect{
    padding: 80px 40px;
}
.connect-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 80px;
}
.connect-card{
    background: #0e0e0e;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 20px ;
}
.connect-card a{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}
.connect-card a i{
    font-size: 25px;
    color: #0a0;
}
.connect-card p{
    margin: 0;
    color: rgb(211, 211, 211);
    font-size: 16px;
}
.connect-card:hover{
    transform: translateY(-8px);
    /* background: #000; */
    border-color: #000;
}
footer{
    padding: 40px 20px;
    text-align: center;
    background: #000;
}
footer a{
    color: #0a0;
    text-decoration: none;
}